<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="pathFormatosBanca" value="/Formatos/Banca/"/>
    <!--Cuentas y servidor de correo-->
    <add key="cuentaCorreo" value="cmvfinanzas@cajamorelia.com.mx"/>
    <add key="servidorCorreo" value="cmv5002.cmv.mx"/>
    <!--Cuenta de correo del usuario responsable de la plataforma UNE-->
    <add key="correoResponsable" value="cristian.perez@cmv.mx"/>
    <!-- <add key="correoResponsable" value="atencion@cmv.mx" /> -->
    <!--Ruta de almacenamiento de los archivos de evidencias de los reportes-->
    <!-- <add key="rutaArchivosEvidencias" value="\\Cmv7005\une" /> -->
    <!--<add key="rutaArchivosEvidencias" value="\\Cmv8037\une_archivos" />-->
    <add key="rutaArchivosEvidencias" value="\\Cmv8016\UNEARCHIVOPRUEBAS"/>
    <!--Ruta de almacenamiento de los audios relacionados a los folios que ya fueron convertidos-->
    <!--<add key="rutaArchivosAudio" value="\\cmv8037\UNEARCHIVOSAUDIO" />-->
    <add key="rutaArchivosAudio" value="\\cmv8016\UNEARCHIVOSAUDIO"/>
    <add key="rutaArchivosSARR" value="\\cmv3003\reportes regulatorios$"/>
    <!--Servidor de base de datos-->
    <!--<add key="servidorBD" value="cmv8030" />-->
    <add key="servidorBD" value="cmv8049"/>
    <!--<add key="servidorBD" value="cmv8049"/>-->
    <!--Cuentas de correo de medios de pago-->
    <add key="CorreoMediosPago" value="cristian.perez@cmv.mx"/>
    <!--<add key="CorreoMediosPago" value="mediosdepago@cmv.mx" />-->
    <add key="Sox" value="sox\sox.exe"/>
    <add key="Banca" value="Banca\CMV.BancaAdmin.VISTAS.exe"/>
    <add key="usuarioBase" value="CMV_Finanzas"/>
    <add key="password" value="Abcde1"/>
    <add key="usuarioBaseUNE" value="UNE"/>
    <add key="serviciosProductivo" value="1"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="65536" requestLengthDiskThreshold="24576" maxUrlLength="65536" maxQueryStringLength="32768" executionTimeout="3600"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxUrl="10000" maxAllowedContentLength="1048576000"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <!--<add name="ContextUne" connectionString="metadata=res://*/Models.BD.csdl|res://*/Models.BD.ssdl|res://*/Models.BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmv8049;initial catalog=HAPE;user id=sa_temp;password=Abcde1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="ContextUneBD" connectionString="metadata=res://*/Models.UNEDB.csdl|res://*/Models.UNEDB.ssdl|res://*/Models.UNEDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmv8049;initial catalog=UNE;user id=prescence;password=Abcde1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="ContextBanca" connectionString="metadata=res://*/Models.BancaDB.csdl|res://*/Models.BancaDB.ssdl|res://*/Models.BancaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmv8049;initial catalog=BANCA;user id=sa_temp;password=Abcde1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ContextUne" connectionString="metadata=res://*/Models.BD.csdl|res://*/Models.BD.ssdl|res://*/Models.BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmv8049;initial catalog=HAPE;user id=sa_temp;password=Abcde1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ContextUneBD" connectionString="metadata=res://*/Models.UNEDB.csdl|res://*/Models.UNEDB.ssdl|res://*/Models.UNEDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmv8049;initial catalog=UNE;user id=sa_temp;password=Abcde1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ContextBanca" connectionString="metadata=res://*/Models.BancaDB.csdl|res://*/Models.BancaDB.ssdl|res://*/Models.BancaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cmv8049;initial catalog=BANCA;user id=CMV_FINANZAS;password=Abcde1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.8.0" newVersion="5.5.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CRYPTOCardImplPortBinding"/>
        <binding name="ConectaServicesImplPortBinding"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDialTec_Service">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.60.77/DialTec_Service/DialTec_Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDialTec_Service" contract="DIalTecService.IDialTec_Service" name="WSHttpBinding_IDialTec_Service">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://192.168.98.55:8080/Autenticador/CRYPTOCardImpl" binding="basicHttpBinding" bindingConfiguration="CRYPTOCardImplPortBinding" contract="conectaServicioAutenticador.CRYPTOCardImpl" name="CRYPTOCardImplPort"/>
      <endpoint address="http://192.168.98.55:8080/ConectaWebApp/ConectaServicesImpl" binding="basicHttpBinding" bindingConfiguration="ConectaServicesImplPortBinding" contract="conectaServicioSAS.ConectaServicesImpl" name="ConectaServicesImplPort"/>
    </client>
  </system.serviceModel>
</configuration>