<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="correoDigitalizador" value="Digita@cmv.mx"/>
    <add key="instancia" value="cmv8008\Desarrollo1"/>
    <!--<add key="instancia" value="cmv8049"/>-->
    <add key="bd" value="hape"/>
    <add key="InstanciaHape" value="Server=cmv8008\Desarrollo1;Database=Hape;User Id=sa_temp;Password=Abcde1;"/>
    <!--<add key="InstanciaHape" value="Server=cmv8049;Database=Hape;User Id=sa_temp;Password=Abcde1;"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="keyBusCrypto" value="CmvBanca2018"/>
    <add key="pathFormatosBanca" value="\\cmv3005\BancaCMV$\Formatos"/>
    <add key="cuentaCorreo" value="ROBOTCMV@CMV.MX"/>
    <add key="servidor" value="cmv5003.cmv.mx"/>
    <!-- INICIO CONFIG ENVIO DE SMS --> 
    <add key="urlenviomensaje" value="http://69.65.45.180/api.envio.new.php?"/>
    <add key="apkKeySms" value="a560f17a3a6a0a7d35176d0ed3a6cf997be3f158"/>
    <add key="codigotupais" value="52"/>
    <add key="pruebasMsj" value="0"/>
    <!-- FIN CONFIG ENVIO DE SMS --> 
  
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ConectaServicesImplPortBinding"/>
        <binding name="ConectaCryptographyPortBinding"/>
        <binding name="CRYPTOCardImplPortBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.98.55:8080/ConectaWebApp/ConectaServicesImpl" binding="basicHttpBinding" bindingConfiguration="ConectaServicesImplPortBinding" contract="conectaServicioSAS.ConectaServicesImpl" name="ConectaServicesImplPort"/>
      <endpoint address="http://192.168.98.55:8080/BusCrypto/ConectaCryptography" binding="basicHttpBinding" bindingConfiguration="ConectaCryptographyPortBinding" contract="conectaServicioBusCrypto.ConectaCryptography" name="ConectaCryptographyPort"/>
      <endpoint address="http://192.168.98.55:8080/Autenticador/CRYPTOCardImpl" binding="basicHttpBinding" bindingConfiguration="CRYPTOCardImplPortBinding" contract="conectaServicioAutenticador.CRYPTOCardImpl" name="CRYPTOCardImplPort"/>
    </client>
  </system.serviceModel>
</configuration>