<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConectaServicesImplPortBinding"/>
                <binding name="ConectaCryptographyPortBinding"/>
                <binding name="CRYPTOCardImplPortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.98.55:8080/ConectaWebApp/ConectaServicesImpl" binding="basicHttpBinding" bindingConfiguration="ConectaServicesImplPortBinding" contract="conectaServicioSAS.ConectaServicesImpl" name="ConectaServicesImplPort"/>
            <endpoint address="http://192.168.98.55:8080/BusCrypto/ConectaCryptography" binding="basicHttpBinding" bindingConfiguration="ConectaCryptographyPortBinding" contract="conectaServicioBusCrypto.ConectaCryptography" name="ConectaCryptographyPort"/>
            <endpoint address="http://192.168.98.55:8080/Autenticador/CRYPTOCardImpl" binding="basicHttpBinding" bindingConfiguration="CRYPTOCardImplPortBinding" contract="conectaServicioAutenticador.CRYPTOCardImpl" name="CRYPTOCardImplPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
